p {
	color: white;
}
html {
	font-family: "Google Sans", "Roboto", sans-serif;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-text-size-adjust: 100%;
  background: #212121;
  text-align: center;
  position: relative;
}
#title {
  color: #FAFAFA;
  text-align: center;
  margin: 20px;
  min-width: 200px;
}
#blocked {
  font-size: 200px;
  color: #E57373;
}
button {
  width: 80%;
  min-width: 200px;
  max-width: 600px;
  height: 44px;
  border: none;
  text-align: center;
  font-family: "Google Sans", "Roboto", sans-serif;
  display: inline-block;
  text-decoration: none;
  font-family: sans-serif;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  margin: 7px;
  font-weight: 700;
  font-size: 20px;
}
button:focus {
    outline: 0px solid #fff;
    outline-offset: -4px;
}
#in {
  color: #EEEEEE;
  background: #616161;
  margin-top: 25px;
}
#in:hover {
  background: #757575;
}
#in:active {
  background: #9E9E9E;
}
#up {
  color: #D32F2F;
  background: white;
}
#up:hover {
  background: #FFEBEE;
}
#up:active {
  background: #FFCDD2;
}
.elevation-2dp {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}
.elevation-3dp {
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12);
}
.elevation-4dp {
	box-shadow: 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12), 0 2px 4px -1px rgba(0, 0, 0, .2);
}
.elevation-6dp {
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2);
}
.elevation-8dp {
	box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2);
}
.elevation-16dp {
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}
.hide {
  display: none;
}
#eva {
  display: none;
}
